/Installer Script/*.exe
/Fingerprint Information System/Backup
/Fingerprint Information System/bin
/Fingerprint Information System/obj
/Fingerprint Information System/UpgradeLog.XML
/Fingerprint Information System/ve-43.tmp
/Fingerprint Information System/ve-179.tmp
/Fingerprint Information System/packages
