/Installer Script/*.exe
/Fingerprint Information System/Backup
/Fingerprint Information System/bin
/Fingerprint Information System/obj
/Fingerprint Information System/UpgradeLog.XML
/Fingerprint Information System/ve-43.tmp
/Fingerprint Information System/ve-179.tmp
/Fingerprint Information System/packages
/frmOnlineBackup.vb
/*.db
packages
bin
obj
/Fingerprint Information System/FISoAuth2.json
/Fingerprint Information System/FISServiceAccount.json
*.suo
*.suo
/*.suo
Fingerprint Information System.v12.suo
*.db
*.db
*.db
*.db
